<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ajax1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.lzjtu.ajax.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>cn.lzjtu.ajax.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductJSONServlet</display-name>
    <servlet-name>ProductJSONServlet</servlet-name>
    <servlet-class>cn.lzjtu.ajax.ProductJSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductJSONServlet</servlet-name>
    <url-pattern>/productjson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadServlet</display-name>
    <servlet-name>LoadServlet</servlet-name>
    <servlet-class>cn.lzjtu.jquery.LoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadServlet</servlet-name>
    <url-pattern>/load</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>cn.lzjtu.jquery.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarServlet</display-name>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>cn.lzjtu.jquery.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/car</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveStuServlet</display-name>
    <servlet-name>SaveStuServlet</servlet-name>
    <servlet-class>cn.lzjtu.ajax.SaveStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveStuServlet</servlet-name>
    <url-pattern>/savestu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuServlet</display-name>
    <servlet-name>StuServlet</servlet-name>
    <servlet-class>cn.lzjtu.ajax.StuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuServlet</servlet-name>
    <url-pattern>/stu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>cn.lzjtu.jquery.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheServlet</display-name>
    <servlet-name>CheServlet</servlet-name>
    <servlet-class>cn.lzjtu.jquery.CheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheServlet</servlet-name>
    <url-pattern>/che</url-pattern>
  </servlet-mapping>
</web-app>